.footer {
  padding: 50px $gap 50px;
  text-align: center;
  background-color: #2d3651;
  text-align: center;
  &__container {
    max-width: 1340px;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
  }

  &__social {
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    

    & .fab {
      font-size: 36px;
      padding: 10px 5.5px 10px 7px;
      transition: color 0.5s;
      &:hover {
        color: $color-accent;
      }

    }

    
  }
  
  &__copy {
    position: relative;
    margin-top: $gap;
    margin-bottom: $gap;
    width: 100%;
    color: $color-gray;
    font-family: $font-main;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: $color-gray-light;
    font-weight: 700;
    &::before {
      position: absolute;
      bottom: -$gap;
      left: calc(50% - 75px / 2);
      width: 75px;
      height: 2px;
      content: "";
      background-color: rgba($color-light, 0.1);
      margin-bottom: 76px;
    }

    span {
      margin-right: -0.5em;
      display: flex;
      clear: both;
      justify-content: center;
      align-content: center;
      letter-spacing: 0.33em;
      font-weight: 100;
      color: rgba($color-gray, 0.7);
    }
  }
}
