@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  letter-spacing: 0.2em;
  font-family: "Robota", sans-serif;
  color: #637588;
  overflow-y: scroll;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-menu__container,
.header-content__container {
  clear: both;
}

.header {
  min-height: 100vh;
  background-color: #2d3651;
  background-image: url(../img/img-header.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .header-overlay {
    background-color: #2d3651;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  .header-menu {
    position: relative;
    z-index: 2;
    width: 100%;
    .header-menu__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin: 0 250px 0 300px;
      .header-logo {
      }
      .header-navbar {
        .header-navbar__list {
          display: flex;

          .header-navbar__item {
            list-style-type: none;
          }
        }
      }
    }
  }
}
