/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
.header-menu__container, .header-content__container, .about .about__container, .form__container, .posts .posts__container {
  max-width: 1340px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  letter-spacing: 0.1em;
  font-size: 16px;
  font-family: "Robota", sans-serif;
  color: #637588;
  overflow-y: scroll;
}

h1 {
  font-family: "Robota", sans-serif;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  min-height: 100vh;
  background-color: #2d3651;
  background-image: url(../img/img-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.header-overlay {
  background-color: #2d3651;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.header-menu {
  position: relative;
  z-index: 2;
  width: 100%;
}

.header-menu__container {
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  letter-spacing: 0.22em;
  font-size: 1.5rem;
  margin-left: 20px;
  font-weight: 400;
}

.header-logo__link {
  font-family: "Roboto", sans-serif;
}

.header-logo__link .header-logo__accent {
  display: inline-block;
  margin-right: 4px;
  padding: 14px 1px 13px 5px;
  border: 3px solid #d53d27;
}

.header-navbar__btn {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 0 20px 20px 20px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.header-navbar__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header-navbar__btn-row:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

.header-navbar__btn-row:nth-child(odd) {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

.header-navbar__btn-row:nth-child(1), .header-navbar__btn-row:nth-child(2) {
  top: 0px;
}

.header-navbar__btn-row:nth-child(3), .header-navbar__btn-row:nth-child(4) {
  top: 9px;
}

.header-navbar__btn-row:nth-child(5), .header-navbar__btn-row:nth-child(6) {
  top: 18px;
}

.header-navbar__btn.open span:nth-child(1),
.header-navbar__btn.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-navbar__btn.open span:nth-child(2),
.header-navbar__btn.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-navbar__btn.open span:nth-child(1) {
  left: 2.5px;
  top: 3.5px;
}

.header-navbar__btn.open span:nth-child(2) {
  left: calc(50% - 2.5px);
  top: 3.5px;
}

.header-navbar__btn.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.header-navbar__btn.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.header-navbar__btn.open span:nth-child(5) {
  left: 2.5px;
  top: 14.5px;
}

.header-navbar__btn.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 14.5px;
}

.header-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: right;
  letter-spacing: 0.1em;
}

.header-navbar__list .header-navbar__item {
  list-style-type: none;
  font-size: 1.125rem;
  margin: 0 20px;
}

.header-navbar__list .header-navbar__item .header-navbar__link {
  font-family: "Roboto", sans-serif;
  font-stretch: ultra-expanded;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.header-navbar__list .header-navbar__item .header-navbar__link:hover {
  color: #d66926;
}

.header-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 100%;
}

.header-content__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__container .header-content__title {
  z-index: 2;
  position: relative;
  color: #ffffff;
  margin: auto auto 53px auto;
  font-family: "Roboto Slab";
  letter-spacing: 0.08em;
  font-weight: 300;
  line-height: 1.2em;
}

.header-content .header-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content .header-content__buttons .header-content__btn {
  position: relative;
  height: 60px;
  z-index: 2;
  border: 2px solid #ffffff;
  font-stretch: condensed;
  margin: 0 10px -1px;
  padding: 18px 0;
  min-width: 250px;
  font-size: 1.125rem;
  font-family: "Roboto";
  letter-spacing: 0.1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.header-content .header-content__buttons .header-content__btn:focus, .header-content .header-content__buttons .header-content__btn:hover {
  background-color: #d66926;
}

.skills {
  padding: 10px 10px 40px;
}

.skills .skills__container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  grid-auto-rows: calc(33.333vh - 13.333px);
  margin-bottom: 10px;
}

.skills .skills__container .skill-item {
  background-color: #2d3651;
  position: relative;
  overflow: hidden;
}

.skills .skills__container .skill-item:hover .skill-item__overlay {
  opacity: 0.95 !important;
}

.skills .skills__container .skill-item:hover .skill-item__link {
  color: #d66926;
}

.skills .skills__container .skill-item__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #2d3651;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.skills .skills__container .skill-item__image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills .skills__container .skill-item__title {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.skills .skills__container .skill-item__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  font-family: "Roboto", sans-serif;
}

.skills .skills__container .skill-item:hover .skill-item__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skills .skill-item:nth-of-type(1) {
  grid-area: a1;
}

.skills .skill-item:nth-of-type(1) .skill-item__image {
  background-image: url(../img/img-html.png);
}

.skills .skill-item:nth-of-type(2) {
  grid-area: a2;
}

.skills .skill-item:nth-of-type(2) .skill-item__image {
  background-image: url(../img/img-css.png);
}

.skills .skill-item:nth-of-type(3) {
  grid-area: a3;
}

.skills .skill-item:nth-of-type(3) .skill-item__image {
  background-image: url(../img/img-markup.png);
}

.skills .skill-item:nth-of-type(4) {
  grid-area: a4;
}

.skills .skill-item:nth-of-type(4) .skill-item__image {
  background-image: url(../img/img-webdesign.png);
}

.skills .skill-item:nth-of-type(5) {
  grid-area: a5;
}

.skills .skill-item:nth-of-type(5) .skill-item__image {
  background-image: url(../img/img-qa.png);
}

.skills .skill-item:nth-of-type(6) {
  grid-area: a6;
}

.skills .skill-item:nth-of-type(6) .skill-item__image {
  background-image: url(../img/img-codding.png);
}

.skills .skill-item:nth-of-type(7) {
  grid-area: a7;
}

.skills .skill-item:nth-of-type(7) .skill-item__image {
  background-image: url(../img/img-adaptability.png);
}

.skills .skill-item:nth-of-type(8) {
  grid-area: a8;
}

.skills .skill-item:nth-of-type(8) .skill-item__image {
  background-image: url(../img/img-php.png);
}

.skills .skill-item:nth-of-type(9) {
  grid-area: a9;
}

.skills .skill-item:nth-of-type(9) .skill-item__image {
  background-image: url(../img/img-seo.png);
}

.skills .skills__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.skills .skills__button .btn-accent {
  min-width: 350px;
  height: 60px;
  border: 2px solid #2d3651;
  font-size: 1.125rem;
  font-family: "Roboto";
  letter-spacing: 0.1em;
  text-align: center;
  background-color: rgba(45, 54, 81, 0.8);
  padding: 17px 19px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.skills .skills__button .btn-accent:focus, .skills .skills__button .btn-accent:hover {
  background-color: #d66926;
}

.about {
  letter-spacing: 0.055em;
  background-color: #e5e5e5;
  padding-top: 100px;
  padding-bottom: 82px;
}

.about .about__container {
  margin: 0 auto;
  padding: 0 20px;
}

.about .about__container .about__content {
  display: block;
  width: 924px;
}

.about .about__container .about__content h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  color: #2d3651;
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
  margin: 0 0 51px 0;
}

.about .about__container .about__content h2 .about__content--accent {
  font-family: "Roboto Slab", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
}

.about .about__container .about__content p {
  font-family: "Roboto", serif;
  font-size: 1.125rem;
  position: relative;
}

.about .about__container .about__content p:first-of-type::after {
  position: absolute;
  top: 0;
  width: 2px;
  height: 200px;
  content: "";
  background-color: rgba(99, 117, 136, 0.1);
  right: -55px;
}

.about .about__image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about .about__image img {
  position: relative;
  max-width: 100%;
  max-height: 480px;
  margin-top: 10px;
  margin-left: 107px;
}

.form {
  padding: 30px 0;
  background-color: #2d3651;
}

.form__container {
  padding-right: 20px;
  padding-left: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__container .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100%/3);
}

.form__container .form-item .form-item-input {
  color: #ffffff;
  width: 100%;
  height: 60px;
  padding: 2px 30px 0 30px;
  -webkit-transition: background-color 0.5s, border-color 0.5s;
  -o-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, border-color 0.5s;
  letter-spacing: 0.15em;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 1.125rem;
  margin-right: 20px;
}

.form__container .form-item .form-item-input:hover, .form__container .form-item .form-item-input:focus {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
}

.form__container .form-item .btn-accent {
  width: 100%;
  height: 60px;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  letter-spacing: 0.1em;
  font-size: 1.125rem;
  font-family: "Robota", sans-serif;
  -webkit-transition: background-color 0.5s, border-color 0.5s;
  -o-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, border-color 0.5s;
}

.form__container .form-item .btn-accent:hover {
  background-color: #d66926;
  border-color: #ffffff;
  cursor: pointer;
}

.posts {
  padding: 100px 0;
}

.posts .posts__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-right: 20px;
  padding-left: 20px;
}

.posts .posts__container h2 {
  max-height: 48px;
  width: 100%;
  margin: 0;
  letter-spacing: 0.1em;
  color: #2d3651;
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
  font-size: 2.5rem;
  margin-bottom: 56px;
}

.posts .posts__container .posts__grid {
  position: relative;
  display: grid;
  padding-bottom: 20px;
  grid-gap: 20px;
  grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
  grid-template-columns: repeat(4, 1fr);
}

.posts .post-item {
  display: block;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.posts .post-item:hover .post-item__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.posts .post-item:hover .post-item__link {
  background-color: #d8d8d8;
  cursor: pointer;
}

.posts .post-item__link {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr;
  text-decoration: none;
  background-color: #f2f2f2;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.posts .post-item .post-item__image {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.posts .post-item__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

.posts .post-item__caption {
  display: grid;
  align-self: center;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  text-align: center;
  font-family: "Roboto Slab", serif;
  padding: 20px;
}

.posts .post-item__caption h3 {
  letter-spacing: 0.05em;
  color: #637588;
  font-size: 1.125rem;
  margin: 18px 0;
}

.posts .post-item__caption p {
  font-family: "Roboto", serif;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  letter-spacing: 0;
  text-align: center;
  color: #637588;
  font-size: 1rem;
  line-height: 1.15;
}

.posts .post-item:nth-of-type(1) {
  grid-area: p1;
}

.posts .post-item:nth-of-type(2) {
  grid-area: p2;
}

.posts .post-item:nth-of-type(3) {
  grid-area: p3;
}

.posts .post-item:nth-of-type(4) {
  grid-area: p4;
}

.posts .post-item:nth-of-type(5) {
  grid-area: p5;
}

.posts .post-item:nth-of-type(6) {
  grid-area: p6;
}

.posts .posts__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts .posts__button .btn-accent {
  min-width: 350px;
  height: 60px;
  border: 2px solid #2d3651;
  font-size: 1.125rem;
  font-family: "Roboto";
  letter-spacing: 0.1em;
  text-align: center;
  background-color: rgba(45, 54, 81, 0.8);
  padding: 17px 19px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  padding-top: 18px;
}

.posts .posts__button .btn-accent:focus, .posts .posts__button .btn-accent:hover {
  background-color: #d66926;
}

.footer {
  padding: 50px 20px 50px;
  text-align: center;
  background-color: #2d3651;
  text-align: center;
}

.footer__container {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.footer__social {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
}

.footer__social .fab {
  font-size: 36px;
  padding: 10px 5.5px 10px 7px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__social .fab:hover {
  color: #d66926;
}

.footer__copy {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  color: #637588;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #e5e5e5;
  font-weight: 700;
}

.footer__copy::before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 75px / 2);
  width: 75px;
  height: 2px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 76px;
}

.footer__copy span {
  margin-right: -0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 0.33em;
  font-weight: 100;
  color: rgba(99, 117, 136, 0.7);
}

@media (min-width: 768px) {
  .header-navbar__btn {
    display: none;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  .header-content__container .header-content__title {
    margin: 1px auto 43px auto;
  }
  .header-content .header-content__buttons .header-content__btn {
    margin: 0 10px;
    min-width: 200px;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 0.1em;
    font-size: 1rem;
  }
  .skills .skills__container {
    grid-template-areas: "a1 a1 a2 " "a3 a4 a4 " "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
  }
  .skills .skills__container .skill-item__link {
    font-size: 1.25rem;
  }
  .about {
    padding: 80px 0 64px 0;
  }
  .about .about__container .about__content {
    width: 640px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .about .about__container .about__content h2 {
    margin-bottom: 37px;
    font-size: 2rem;
  }
  .about .about__container .about__content p {
    font-size: 1rem;
    line-height: 1.15em;
    margin: 15px 0 16px 0;
  }
  .about .about__container .about__content p:first-of-type::after {
    right: -20px;
  }
  .about .about__image img {
    margin-left: 42px;
  }
  .form {
    padding: 30px 0 30px;
  }
  .form__container .form-item .form-item-input {
    margin: 0 20px 0 0;
    padding: 0 30px 1px 30px;
  }
  .form__container .form-item .btn-accent {
    width: 303.5px;
    padding: 0 0 0 2px;
  }
  .posts .posts__container h2 {
    font-size: 2rem;
    margin-bottom: 42px;
  }
  .posts .posts__container .posts__grid {
    grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
    grid-template-columns: repeat(3, 1fr);
  }
  .posts {
    padding: 80px 0;
  }
}

@media (max-width: 992px) and (max-width: 768px) {
  .skills .skills__container {
    grid-gap: 10px;
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 769px) {
  .header-navbar__list {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.875rem;
  }
  .header-logo {
    margin: 0 0 20px 20px;
  }
  .header-content__container .header-content__title {
    margin: 1px 0 33px 0;
  }
  .header-content .header-content__buttons .header-content__btn {
    margin: 0 10px;
    min-width: 170px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    font-size: 1rem;
  }
  .skills .skills__container .skill-item__link {
    font-size: 1.125rem;
  }
  .about {
    padding: 60px 0 45px 0;
  }
  .about .about__container .about__content {
    width: 470px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .about .about__container .about__content h2 {
    margin-bottom: 31px;
    font-size: 1.5rem;
  }
  .about .about__container .about__content p {
    margin: 10px 0 16px 0;
  }
  .about .about__container .about__content p:first-of-type::after {
    right: -11px;
  }
  .about .about__image img {
    width: 236px;
    height: 425px;
    margin-left: 21px;
    margin-top: 70px;
  }
  .form {
    padding: 30px 0 10px;
  }
  .form__container .form-item {
    width: calc((100% - 20px) / 2);
  }
  .form__container .form-item:first-child {
    width: 100%;
  }
  .form__container .form-item .form-item-input {
    margin: 0 0 20px 0;
    padding: 0 30px 1px 30px;
  }
  .form__container .form-item .btn-accent {
    width: 100%;
    margin: 0 0 0 20px;
  }
  .posts .posts__container h2 {
    font-size: 1.5rem;
    margin-bottom: 36px;
  }
  .posts .posts__container .posts__grid {
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    grid-template-columns: 1fr 1fr;
  }
  .posts {
    padding: 60px 0;
  }
}
