.header-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
  
    &__container {
      padding-top: $gap;
      padding-bottom: $gap;
      @extend %container;
      justify-content: space-between;
      align-items: center;
    }
  }

  
  @media (max-width: 767px) {
    .header-menu {
      background-color: rgba($color-gray-dark, 0.25);
    }
  }