.header-logo {
    letter-spacing: 0.22em;
    font-size: 1.5rem;
    margin-left: $gap;
    font-weight: 400;
   
    &__link {
      font-family: $font-main;
      .header-logo__accent {
        display: inline-block;
        margin-right: 4px;
        padding: 14px 1px 13px 5px;
        border: 3px solid $color-highlight;
      }
    }
  }
  @media (max-width: 768px) {
    .header-logo {
      margin: 0 0 $gap $gap;
      .header-logo__link {
        
      }
    }
  }
 