.header {
    min-height: 100vh;
    background-color: #2d3651;
    background-image: url(../img/img-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}