.posts {
  padding: 100px 0;
  @import "sections/posts/posts-container";
  @import "sections/posts/posts-button";

  @media (max-width: 992px) {
    padding: 80px 0;
  }
  @media (max-width: 768px) {
    padding: 60px 0;
  }
}



