.posts {
  padding: 10px 10px 40px;
  @import "sections/posts/posts-container";
  @import "sections/posts/posts-button";
}



.post-item:nth-of-type(1) {
  grid-area: p1;
}
.post-item:nth-of-type(2) {
  grid-area: p2;
}

.post-item:nth-of-type(3) {
  grid-area: p3;
}
.post-item:nth-of-type(4) {
  grid-area: p4;
}

.post-item:nth-of-type(5) {
  grid-area: p5;
}
.post-item:nth-of-type(6) {
  grid-area: p6;
}
